$primary-color: rgba(176,176,176, 0.3);
$secondary-color: #36776e;

$primary-font-color: #242424;
$primary-font-color-inverse: #e2e2e2;

$background-color:  #f4f4f4;

$gap-normal: 16px;
$box-shadow: 3px 0 10px 1px rgba(0, 0, 0, 0.2);
