@use 'styles/theme.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: theme.$background-color;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 theme.$gap-normal;
  background-color: theme.$primary-color-800;
  box-shadow: theme.$box-shadow;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  padding: theme.$gap-normal;

  > .search-bar {
    align-self: center;

    display: flex;
    align-items: center;

    width: 70vw;
    min-width: 300px;
    max-width: 90vw;

    padding: theme.$gap-normal;
    border-radius: 32px;

    background-color: color-mix(
                    in oklab,
                    theme.$primary-color-800 80%,
                    transparent);
    box-shadow: theme.$box-shadow;

    > form > .actions {
      display: flex;
      gap: theme.$gap-normal;
    }
  }
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: theme.$gap-normal;

  input {
    --size: 32px;

    height: var(--size);
    line-height: var(--size);
    border: 1px solid theme.$primary-color-800;
    border-radius: 4px;
    padding: 0 8px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

#city {
  flex: 3 1 auto;

  input {
    width: 100%;
  }
}

.horizontal-space {
  flex: 1;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;

  background: none;
  background-color: theme.$secondary-color-800;
  color: theme.$primary-font-color-inverse;
  border-radius: 8px;
  padding: 8px 16px;
  border: 0;

  &:hover {
    background-color: theme.$primary-font-color;
  }

  &:focus {
    background-color: theme.$primary-color-800;
    color: theme.$primary-font-color;
  }

}

.weather-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: theme.$gap-normal;
  padding: theme.$gap-normal;

  > .weather-card {
    width: 350px;
    height: 400px;
    text-align: center;
    border: 2px solid theme.$primary-color-800;
    border-radius: 24px;
    padding: theme.$gap-normal;
    background-color: theme.$secondary-color-800;
    color: theme.$primary-font-color-inverse;
    box-shadow: theme.$box-shadow;

    > p {
      font-size: 48px;
    }
  }
}

button[id^="delete-btn-"] {
  background-color: theme.$primary-color-800 !important;
}

button[id^="delete-btn-"]:hover {
  background-color: theme.$secondary-color-800 !important;
  color: theme.$primary-color-800;
  border: 2px solid theme.$primary-color-800;
}

