$background-color: #f4f4f4;
$primary-color-800: #cc8d1a;
$secondary-color-800: #164c45;

$primary-font-color: #242424;
$primary-font-color-inverse: #e2e2e2;

$gap-normal: 16px;

$box-shadow: 3px 0 10px 1px rgba(0, 0, 0, 0.2)